@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fffbe6;
    color: #333;
}

header {
    background-color: #d32f2f;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 4px 2px -2px gray;
}

h1, h2{
    font-family: 'Raleway', sans-serif;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}


/* Form container */
.contact-section {
    max-width: 600px;
    margin: 0 auto;
}

/* Form groups */
.form-group {
    margin-bottom: 20px;
}

/* Label styles */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input styles */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #4CAF50;
}

/* Button styles */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Remove default button styles */
button[type="submit"]:focus {
    outline: none;
}

footer{
	text-align: center;
    padding: 20px 0;
    background-color: #d32f2f;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    border-top: 1px solid #ccc;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  footer p {
    margin: 5px 0;
    font-size: 1em;
    transition: color 0.3s ease;
}

footer p:hover {
    color: #c8ff00;
}

footer p span {
    font-weight: bold;
    color: #d0ff00;
    font-family: 'Raleway', sans-serif;
}
