/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 10px; /* Adjust spacing for smaller screens */
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .welcome-section,
    .story-section,
    .offers-section,
    .testimonials-section {
        padding: 15px; /* Adjust padding for smaller sections */
    }
}

/* Adjustments for even smaller screens */
@media screen and (max-width: 480px) {
    header {
        padding: 5px 0; /* Adjust header padding for smaller screens */
    }

    .header-content {
        padding: 0 10px; /* Adjust padding for header content */
    }

    .logo {
        height: 40px; /* Reduce logo size for smaller screens */
    }

    h1 {
        font-size: 24px; /* Reduce font size for h1 for smaller screens */
    }

    nav ul li {
        margin: 5px 0;
    }

    main {
        padding: 10px; /* Adjust padding for main content */
    }
}
